.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;

    p {
        color: white;
    }
}

.footer__cont {
	display: flex;
	flex-direction: column;
	align-items: center;

    a{
        text-decoration: none;
    }
}